@media(max-width:1180px){
    .items-container{
      grid-gap: 30px;
    }
}
@media(max-width:1150px){
    .items-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      grid-gap: 66px;
    }
    .logo-container {
        margin-right: 40px;
      }
      .contact-info,.adress-info,.additional-info{
        width: 80vw;
      }
}