html{
    background-color: #FFDCE0;
    font-family: 'comfortaa','sans-serif';
    color: #290F1E;
}
body{
    color: #290F1E;
}
.flex-nav{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    border-bottom: #290F1E 1.5px solid;
}
.flex-close{
    display: flex;
    gap: 5px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 154px;
  }
  .brand-name{
    font-size: 22px;
  }
  .pages{
    display: flex;
    gap: 100px;
  }
  .pages a{
    text-decoration: none;
    color: #290F1E;
    font-size: 18px;
  }
  hr{
    border: 1px solid #290F1E;
  }
  nav #sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(1, 1, 1, 0.5);
    display: none;
 }
select{
    font-family: 'comfortaa','sans-serif';
    font-size: 22px;
    padding: 0 10px;
    padding-right: 5px;
    background-color: #FFDCE0;
    border: none;
    margin: 0 auto; /* horizontal centering */
    display: block; /* make it a block element */
    width: 200px; /* set a width to make it visible */
}
select::-ms-expand { /* target the dropdown arrow in IE and Edge */
    display: none; /* hide the default arrow */
    padding-left: 0px;
}
 .bars{
    display: none;
}
option{
    padding-right: 0px;
}
.all{
    text-align:center;
    font-size: 22px;
    border-bottom: #290F1E 1.5px solid;
    padding-bottom: 14px;
}
.item{
    position: relative;
}
.item:hover{
    .order-image1{
        display: block;
    }
}
.flex-1{
    display: flex;
    align-items: center;
    gap: 178px;
}
.order-image1{
    cursor: pointer;
    max-width: 32px;
    max-height: 32px;
    display: none;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-gap: 66px;
}
.item-image,.order-image{
    width: 255px;
    height: 226px;
    border-radius: 20px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

}
.contact-container{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 0;
    right: 20px;
}
.order-sections .order-item{
    position: absolute;
    left: 0;

    width: 50%;
    border-right: 1.5px solid #290F1E;
}
.order-sections .order-summary{
    position: absolute;
    right: 0;
    width: 50%;
  
    flex: 1;
}
.order-items{
   margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 70px;
    border-bottom: 1.5px solid #290F1E;
}
.order-text p{
    font-size: 18px;
    margin-bottom: 83px;
}
.orderSummary{
    margin-left: 25%;
    margin-right: 25px;
    border: 1.5px solid #290F1E;
    padding-left: 12.5%;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top:20px;
}
.orderSummary p{
    font-size: 18px;
}
.payment-button{
    padding: 20px 60px;
    background-color: #C755B5;
    border-radius: 12px;
    border: 1px solid #290F1E;
  
}
.payment-button a{
    font-size: 18px;
    text-decoration: none;
    color: #290F1E;
}
::-webkit-scrollbar {
    display: none;
  }
  .customerInfo-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  }
.contact-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:32px;
}

.contact{
    border: 1.5px solid #290F1E;
    width:310px;
    height: 41px;
    border-radius: 6px;
   margin-left: 20px;
   margin-top: 10px;
}
.contact label .label-text{
    padding-top: 20px;
    font-size: 18px;
}
.contact input{
    background-color: #FFDCE0;
    border: none;
}
.contact-info{
    position: relative;
    border: 1.5px solid #290F1E;
    width: 517px;
    height: 240px;
    margin-left: 40px;
    margin-top: 20px;
}
.contact-label{
    position: absolute;
    right: 15px;
    top: 0;
}
.adress-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:32px;
}

.adress{
    border: 1.5px solid #290F1E;
    width:310px;
    height: 41px;
    border-radius: 6px;
   margin-left: 20px;
   margin-top: 10px;
}
.adress label .label-text{
    padding-top: 20px;
    font-size: 18px;
}
.adress input{
    background-color: #FFDCE0;
    border: none;
}
.adress input :focus{
    border: none;
}
.adress-info{
    position: relative;
    border: 1.5px solid #290F1E;
    width: 517px;
    height: 240px;
    
    margin-top: 20px;
}
.adress-label{
    position: absolute;
    right: 15px;
    top: 0;
}
.additional-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:32px;
}

/* .additional{
    border: 1.5px solid #290F1E;
    width:310px;
    height: 41px;
    border-radius: 6px;
   margin-left: 20px;
   margin-top: 10px;
} */
label{
position: relative;
    top: 8px;
    font-size: 18px;
    left: 6px;
}

.additional input{
    background-color: #FFDCE0;
    border: none;
}
.additional-info{
    position: relative;
    border: 1.5px solid #290F1E;
    width: 517px;
    height: 240px;
    margin-left: 40px;
    margin-top: 20px;
}
.additional-label{
    position: absolute;
    right: 15px;
    top: 0;
}
.additional textarea{
    background-color: #FFDCE0;
    border: none;
}
.final-payment{
    margin-top: 20px;
}
.receipt{
    background-color: #C755B5;
    padding: 10px 10px;
    height: 40px;
    width: 176px;
    border: #290F1E 1.5px solid;
    border-radius: 6px;
    cursor: pointer;
}
.phone-link{
    color: #C755B5;
    padding: 10px 10px;
    text-decoration: none;
}
/* Responsivity start */
@media(max-width:1180px){
    .items-container{
      grid-gap: 30px;
    }
}
@media(max-width:1150px){
    .customerInfo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .adress-info{
        margin-left: 40px;
    }
    .final-payment{
        margin-left: 46px;
    }
    .items-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      align-items: center;
    }
    .logo-container {
        margin-right: 80px;
      }
      .pages{
        display: flex;
        gap: 80px;
      }
}
@media(max-width:920px){
    .orderSummary{
        margin-left: 10%;
        margin-right: 25px;
        border: 1.5px solid #290F1E;
        padding-left: 12.5%;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-top:20px;
        width: 80vw;
    }
    .order-items{
        margin-top: 20px;
        width: 110vw;
        margin-left: 0;
    }
    .order-sections .order-item{
        position: static;
        top: 0;
        width: 100%;
        border-right: none;
    }
    .order-sections .order-summary{
        position: static;
        bottom: 0;
        width: 100%;
      
        flex: 1;
    }
    .order-sections{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        position: static;
        margin-left: 7%;
    }
    .about-container{
        flex-direction: column-reverse;
        margin-left: 7%;
        gap: 10px;
        margin-bottom: 20px;
    }
    .pages{
        display: none;
      }
      .flex-nav{
        justify-content: space-between;
      }
      .bars{
        display: block;
      }
      .items-container{
      grid-gap: 40px;
    }
}
@media(max-width:840px){
 
    .items-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        align-items: center;
    }
}
@media(max-width:560px){
    .order-items{
        gap: 25px;
    }
    .items-container{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .flex-nav, .all{
       width: 110vw;
      }
    .item{
        width: 100%;
        padding-left: 35%;
        border-bottom: 1.5px solid #290F1E;
    }
.brand-name{
    font-size: 18px;
}

}
@media(max-width:520px){
    .contact-label, .adress-label, .additional-label{
        display: none;
    }
    .contact-info,.adress-info,.additional-info{
        width: 80vw;
      }
      .contact,.adress{
        width: 260px;
      }
      input{
        width: 100px;
      }
      textarea{
        height: fit-content;
      }
}
/* Responsivity end */
